<div class="container">
  <div class="row">
    <div class="col">
     <h1>GrannyZ's</h1>
     <h1>Located in Spring, Texas</h1>
		<h3>About:</h3>
		<%= image_tag "GrannieZ'sLocated in Spring, TX.png"%>
		<p>Lorem ipsum dolor sit amet, tota illud tibique et eos, propriae eligendi nam ad. Insolens ullamcorper in per. Ius everti laboramus efficiendi id. Te etiam perfecto delicata sed, regione constituto cu mea. Rebum impedit est ut, no integre vocibus sed. Ei usu malis fugit philosophia.</p>
	    </div>
	  </div>
	</div>
</div>
