<div class="container">
  <div class="row">
    <div class="col">
     <h1>Grannyz, Located in Spring, Texas</h1>
		<h3>About:</h3>
		<p>Lorem ipsum dolor sit amet, tota illud tibique et eos, propriae eligendi nam ad. Insolens ullamcorper in per. Ius everti laboramus efficiendi id. Te etiam perfecto delicata sed, regione constituto cu mea. Rebum impedit est ut, no integre vocibus sed. Ei usu malis fugit philosophia.</p>
	    </div>
	    <div class="col">
	   <h3>Contact:</h3>
		<p>Please feel free to contact me through the submission form below:</p>
	    </div>
	  </div>
	</div>
</div>
